/*-- scss:defaults --*/
$primary: #772059;
$link-color: #2e359d;
$sidebar-bg: $primary;
$sidebar-fg: #fff;
$font-size-root: 19px;

/*-- scss:rules --*/
.sidebar-title {
    color: #fff;
}

.sidebar-logo {
    margin-bottom: 10px;
}

.quarto-search-button {
    color: #fff;
}

.cell-output {   

     border-left: 0.25em solid #34568B;
     padding-left: 0.75em;

}

.column-margin.column-container {
    margin-top: 30px;
}

pre.sourceCode.bash {
    background-color: #4a4a4a;
    &, & * {
        color: white !important;
        font-weight: normal !important;
    }
}

// .code-with-filename:has(pre.sourceCode.bash) .code-with-filename-file {
//     background-color: #999;
//     &, & * {
//         color: white !important;
//         font-weight: normal !important;
//     }}

// pre.numberSource.bash code > span > a:first-child::before {
//     content: "$";
//   }

  // code.sourceCode.bash:before {
//     content: "$";
//   }

pre.numberSource.python code > span > a:first-child::before {
    color: gray
}

pre.numberSource.r code > span > a:first-child::before {
    color: gray
}